@model IEnumerable<Bootcamp>

<h2>Bootcamp Listesi</h2>
<a asp-controller="Bootcamp" asp-action="Create" class="btn btn-primary">Bootcamp Ekle</a>
<hr>
    <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 100px;">@Html.DisplayNameFor(m=>m.BootcampId)</th>
                    <th>@Html.DisplayNameFor(m=>m.Baslik)</th>
                    <th>@Html.DisplayNameFor(m=>m.Egitmen.AdSoyad)</th>
                    <th style="width: 130px;">Settings</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model){
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.BootcampId)</td>
                        <td>@Html.DisplayFor(modelItem => item.Baslik)</td>
                        <td>@Html.DisplayFor(modelItem => item.Egitmen.AdSoyad)</td>

                        <td>
                            <a asp-controller="Bootcamp" asp-action="Edit" asp-route-id="@item.BootcampId" class="btn btn-sm btn-warning">Edit</a>
                            <a asp-controller="Bootcamp" asp-action="Delete" asp-route-id="@item.BootcampId"  class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
    </table>