@model ProductViewModel


<div class="card card-body my-3">
    <form asp-action="Index" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <select class="form-select" asp-items="@(new SelectList(Model.Categories, "CategoryId","Name",Model.SelectedCategory))" name="category">
                        <option value="0">Hepsi</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-secondary">Filtrele</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        @foreach (var prd in Model.Products)
        {
            <div class="card m-3" id="@prd.ProductId" style="width: 18rem;">
                <img src="~/img/@prd.Image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@prd.Name</h5>
                    <p class="card-text">@prd.Description</p>
                    <p class="card-text">@prd.Clock</p>
                    <a asp-controller="Home" asp-action="Profile" asp-route-id="@prd.ProductId" class="btn btn-secondary">Bootcampe Git</a>
                </div>
            </div>
        }
    </div>
</div>